/*@import 'normalize.css';*/
.gallery_item {
    background: #fff;
	width: 170px;
	height: 130px;
	float: left;
	text-align: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, .4);
	margin: 0 15px 15px 0;
}

.gallery_item > div {
    position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
} 

.gallery_img {
    width: 160px;
	height: 120px;
    transition: all .5s;
}